<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Home Tab -->
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- Topics Tab -->
    <ion-tab-button tab="topics">
      <ion-icon aria-hidden="true" name="library-outline"></ion-icon>
      <ion-label>Topics</ion-label>
    </ion-tab-button>

    <!-- Parts Tab -->
    <ion-tab-button tab="parts">
      <ion-icon aria-hidden="true" name="hardware-chip-outline"></ion-icon>
      <ion-label>Parts</ion-label>
    </ion-tab-button>

    <!-- Search Tab -->
    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
